PyDispatcher==2.0.5
Scrapy==1.2.1
Twisted==16.4.1
amqp==1.4.9
anyjson==0.3.3
attrs==16.2.0
billiard==3.3.0.23
celery==4.0.2
cffi==1.8.3
cryptography==1.5.2
cssselect==1.0.0
idna==2.1
kombu==3.0.37
lxml==3.6.4
parsel==1.0.3
pyOpenSSL==16.2.0
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.16
pytz==2016.7
queuelib==1.4.2
redis==2.10.5
requests==2.12.4
service-identity==16.0.0
six==1.10.0
w3lib==1.15.0
wxpy==0.3.9.8
zope.interface==4.3.2
